body{
    background-color: brown;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header{
    min-height: 100vh;
    width: 100%;
    position: relative;
}

a{
    color: white;
    text-decoration: none;
    margin: 20px;
}
.navbar li{
    display: inline-block;
    margin: 20px;
}
.About{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
}
.Menu{
    text-align: center;
}
p{
    padding: 20px;
}
h2.menu{
    padding: 20px;
}
p.menu{
    padding: 20px;
}
 .row{
    column-count: 3;}
 .menu-col{
    flex-basis: 31%;
    padding: 20px 12px;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    box-sizing: border-box;
 }
 footer{
    background-color: black;
    text-align: center;
    margin-top: 5%;
 }
 p.footer{
    color: white;
 }